<launch>
  <!-- <param name="emitter_enabled" value="0" /> -->
  <!-- <param name="enable_auto_exposure" value="false" /> -->

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="json_file_path"    value="$(find apriltag_ros)/launch/camera_settings_d415.json"/>

    <arg name="initial_reset"     value="true"/>
    <arg name="enable_color"      value="false"/>
    <arg name="enable_depth"      value="false"/>
    <arg name="enable_infra2"     value="false"/>
    <arg name="enable_infra1"     value="true"/>

    <arg name="infra_width"       value="480"/>
    <arg name="infra_height"      value="270"/>
    <arg name="infra_fps"         value="60"/>

    <arg name="enable_accel"      value="false"/>
    <arg name="enable_gyro"       value="false"/>
    <arg name="enable_sync"       value="false"/>
    <arg name="enable_pointcloud" value="false"/>
    <arg name="align_depth"       value="false"/>

    <!-- <arg name="stereo_module/exposure/1" value="5000"/> -->
    <!-- <arg name="stereo_module/gain/1"     value="16"/> -->
    <!-- <arg name="stereo_module/emitter_enabled"     value="0"/> -->
  </include>
</launch>
