<launch>
    <!-- Per-camera RealSense infra1 launch wrapper -->
    <arg name="camera_name" />
    <arg name="serial_no" default="" />
    <arg name="json_file_path" default="" />
    <!-- Auto exposure: configure in per-camera JSON (controls-autoexposure-auto), not a rs_camera.launch arg on Noetic -->
    <arg name="exposure" default="623" />
    <arg name="gain" default="16" />

    <arg name="infra_width" default="848" />
    <arg name="infra_height" default="480" />
    <arg name="infra_fps" default="60" />

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg if="$(eval arg('json_file_path') != '')" name="json_file_path" value="$(arg json_file_path)" />
        <arg if="$(eval arg('serial_no') != '')" name="serial_no" value="$(arg serial_no)" />

        <arg name="initial_reset" value="false" />
        <arg name="camera" value="$(arg camera_name)" />

        <arg name="enable_color" value="false" />
        <arg name="enable_depth" value="false" />
        <arg name="enable_infra1" value="true" />
        <arg name="enable_infra2" value="false" />

        <arg name="infra_width" value="$(arg infra_width)" />
        <arg name="infra_height" value="$(arg infra_height)" />
        <arg name="infra_fps" value="$(arg infra_fps)" />

        <arg name="stereo_module/exposure/1" value="$(arg exposure)" />
        <arg name="stereo_module/gain/1" value="$(arg gain)" />
    </include>
</launch>
